* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000BF;
}




.nav {
    height: 5rem;
    padding: 5px;
}


.nav .list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list li:first-child {
    flex-basis: 50%;
}

.nav .logo {
    height: 30px;
    width: 100px;
    margin-left: 200px;
}

.nav .icon {
    height: 25px;
    width: 30px;
}

.icons-1 img {
    margin-left: 7px;
}

.icons-2 img {
    margin-left: 2px;
}

.icons-3 img {
    margin-left: 3px;
}

.icons-4 img {
    margin-left: 5px;
}


.hover-color:hover {
    background-color: rgba(241, 240, 240, 0.896);
}

.join {
    border: 1px solid transparent;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
}

.sign-in {
    border: 2px solid #0A66C2;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    margin-right: 100px;
}

.list li {
    cursor: pointer;
}

.ver-line {
    height: 40px;
    width: 1px;
    background-color: #000000BF;
}


li p {
    font-size: .8rem;
}


.list {
    list-style: none;
}

.list a {
    color: #000000BF;
    text-decoration: none;
}

.sign-in a {
    color: #0A66C2;
}


/** main section **/

.login {
    display: flex;
    padding: 100px;
    justify-content: center;
    gap: 30px;
}

.login-form {
    flex-basis: min(25%, 448px);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login-form h1 {
    color: #8F5849;
    font-size: 2.5rem;
    font-weight: 350;
}

.thank-you {
    flex-basis: min(625px, 50%);
}

.login > .thank-you img {
    height: 500px;
}

.email-phone {
    display: flex;
    flex-direction: column;
}

.email-phone input {
    width: 350px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

.password {
    display: flex;
    flex-direction: column;
}

.password lable {
    margin-top: 20px;
}

.password input {
    width: 290px;
    height: 40px;
    border: 0px solid transparent;
    outline: none;
}

.password-container {
    margin-top: 10px;
    padding: 3px;
    position: relative;
    width: 350px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 40px;
    z-index: 1000;
}

.password-container:focus-within {
    outline: 1.5px solid black;
}

.password-container > p {
    position: absolute;
    top: 15px;
    left: 300px;
    color: #0A66C2;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

.forget  {
    display: flex;
    flex-direction: column;
}

.forget a {
    text-decoration: none;
    color: #0A66C2;
    margin-bottom: 20px;
}

.forget button {
    width: 350px;
    height: 50px;
    background-color: #0A66C2;
    color: white;
    border-radius: 50px;
    border: 1px solid;
    cursor: pointer;
}

.hor-line {
    display: flex;
    height: 50px;
    margin-top: 40px;
    align-items: center;
}

.line {
    width: 150px;
    height: 0.5px;
    background-color: black;
}

.hor-line p {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

}

.form-container p {
    font-size: .8rem;
}

.form-container p a {
    text-decoration: none;
    color: #0A66C2;
    font-weight: bold;
}

.continue-with-google {
    margin: 20px 0 10px 0;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}

.continue-with-google img {
    height: 20px;
    margin-right: 10px;
}

.continue-with-google p {
    font-size: 1.1rem;
    font-weight: 500;
}

.sign-up {
    height: 50px;
    width: 350px;
    border: 1.5px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign-up a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/** explore section **/

.center-explore {
    display: flex;
    justify-content: center;
    margin-left: 130px;
}

.explore {
    padding: 100px;
    display: grid;
    width: 1500px;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}

.explore-left {
    padding: 20px;
}

.explore-left h2 {
    width: 100px;
    font-size: 3rem;
    font-weight: 345;
    margin-bottom: 20px;
}

.explore-left p {
    font-size: 1.1rem;
    font-weight: 350;
}

.explore-right {
    width: 600px;
    margin-top: 40px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    align-items: center;
    row-gap: 10px;
}

.circular-box {
    border: 1px solid black;
    height: max-content;
    width: max-content;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
}

.explore-right .circular-box:last-child {
    color: #0A66C2;
    border: 1px solid #0A66C2;
}


.right-job {
    padding: 20px;
}

.right-job h2 {
    width: 450px;
    font-size: 3rem;
    font-weight: 345;
}


.suggested-searches {
    display: flex;
    flex-direction: column;
    width: 550px;
    row-gap: 10px;
}

.suggested-searches .box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
}


/* Post job section*/

.post-job-section {
    background-color: rgba(255, 166, 0, 0.475);
    height: 264px;
}

.post-job-inner {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-left: 150px;
}

.post-job-section h1 {
    color: #B24020;
    flex-basis: 350px;
    font-weight: 400;
    font-size: 2.1rem;
}

.post {
    color: #0A66C2;
    border: 1px solid #0A66C2;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}
