* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000BF;
}




.nav {
    height: 5rem;
    padding: 5px;
}


.nav .list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list li:first-child {
    flex-basis: 50%;
}

.nav .logo {
    height: 30px;
    width: 100px;
    margin-left: 200px;
}

.nav .icon {
    height: 25px;
    width: 30px;
}

.icons-1 img {
    margin-left: 7px;
}

.icons-2 img {
    margin-left: 2px;
}

.icons-3 img {
    margin-left: 3px;
}

.icons-4 img {
    margin-left: 5px;
}


.hover-color:hover {
    background-color: rgba(241, 240, 240, 0.896);
}

.join {
    border: 1px solid transparent;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
}

.sign-in {
    border: 2px solid #0A66C2;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    margin-right: 100px;
}

.list li {
    cursor: pointer;
}

.ver-line {
    height: 40px;
    width: 1px;
    background-color: #000000BF;
}


li p {
    font-size: .8rem;
}


.list {
    list-style: none;
}

.list a {
    color: #000000BF;
    text-decoration: none;
}

.sign-in a {
    color: #0A66C2;
}


/** main section **/

.login {
    display: flex;
    padding: 100px;
    justify-content: space-evenly;
}

.login-form {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login-form h1 {
    color: #8F5849;
    font-size: 2.5rem;
    font-weight: 350;
}

.thank-you {
    flex-basis: 50%;
}

.login > .thank-you img {
    height: 500px;
}

.email-phone {
    display: flex;
    flex-direction: column;
}

.email-phone input {
    width: 350px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

.password {
    display: flex;
    flex-direction: column;
}

.password lable {
    margin-top: 20px;
}

.password input {
    width: 350px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0 40px 0;
}

.forget  {
    display: flex;
    flex-direction: column;
}

.forget a {
    text-decoration: none;
    color: #0A66C2;
    margin-bottom: 20px;
}

.forget button {
    width: 350px;
    height: 50px;
    background-color: #0A66C2;
    color: white;
    border-radius: 50px;
    border: 1px solid;
    cursor: pointer;
}

.hor-line {
    display: flex;
    height: 50px;
    margin-top: 40px;
    align-items: center;
}

.line {
    width: 150px;
    height: 0.5px;
    background-color: black;
}

.hor-line p {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

}

.form-container p {
    font-size: .8rem;
}

.form-container p a {
    text-decoration: none;
    color: #0A66C2;
    font-weight: bold;
}

.continue-with-google {
    margin: 20px 0 10px 0;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}

.continue-with-google img {
    height: 20px;
    margin-right: 10px;
}

.continue-with-google p {
    font-size: 1.1rem;
    font-weight: 500;
}

.sign-up {
    height: 50px;
    width: 350px;
    border: 1.5px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign-up a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}